{% extends 'EasyAdminBundle:default:layout.html.twig' %}
{% block content %}
    <div style="text-align:center; width: 100%; height:50px;padding-top:2%;"><h3>Panel de Administración de Chaco TV</h3></div>
{% endblock %}